<h1>Listing course_staffs</h1>

<table>
  <tr>
    <th>Course sgid</th>
    <th>Staff</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_staffs.each do |course_staff| %>
  <tr>
    <td><%= course_staff.course_sgid %></td>
    <td><%= course_staff.staff_id %></td>
    <td><%= link_to 'Show', course_staff %></td>
    <td><%= link_to 'Edit', edit_course_staff_path(course_staff) %></td>
    <td><%= link_to 'Destroy', course_staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course staff', new_course_staff_path %>
