<h1>Listing course_programmes</h1>

<table>
  <tr>
    <th>Course sgid</th>
    <th>Programme</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_programmes.each do |course_programme| %>
  <tr>
    <td><%= course_programme.course_sgid %></td>
    <td><%= course_programme.programme_id %></td>
    <td><%= link_to 'Show', course_programme %></td>
    <td><%= link_to 'Edit', edit_course_programme_path(course_programme) %></td>
    <td><%= link_to 'Destroy', course_programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course programme', new_course_programme_path %>
