<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :acode %><br />
    <%= f.text_field :acode %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :sgid %><br />
    <%= f.text_field :sgid %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ects %><br />
    <%= f.number_field :ects %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </div>
  <div class="field">
    <%= f.label :institute %><br />
    <%= f.text_field :institute %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :timetable %><br />
    <%= f.text_area :timetable %>
  </div>
  <div class="field">
    <%= f.label :lecture_material %><br />
    <%= f.text_area :lecture_material %>
  </div>
  <div class="field">
    <%= f.label :goals %><br />
    <%= f.text_area :goals %>
  </div>
  <div class="field">
    <%= f.label :participant_count %><br />
    <%= f.text_area :participant_count %>
  </div>
  <div class="field">
    <%= f.label :specialities %><br />
    <%= f.text_area :specialities %>
  </div>
  <div class="field">
    <%= f.label :examination %><br />
    <%= f.text_area :examination %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
