<p id="notice"><%= notice %></p>

<p>
  <b>Acode:</b>
  <%= @course.acode %>
</p>

<p>
  <b>Code:</b>
  <%= @course.code %>
</p>

<p>
  <b>Sgid:</b>
  <%= @course.sgid %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Ects:</b>
  <%= @course.ects %>
</p>

<p>
  <b>Year:</b>
  <%= @course.year %>
</p>

<p>
  <b>Period:</b>
  <%= @course.period %>
</p>

<p>
  <b>Institute:</b>
  <%= @course.institute %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Timetable:</b>
  <%= @course.timetable %>
</p>

<p>
  <b>Lecture material:</b>
  <%= @course.lecture_material %>
</p>

<p>
  <b>Goals:</b>
  <%= @course.goals %>
</p>

<p>
  <b>Participant count:</b>
  <%= @course.participant_count %>
</p>

<p>
  <b>Specialities:</b>
  <%= @course.specialities %>
</p>

<p>
  <b>Examination:</b>
  <%= @course.examination %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
